/*  以下　レスポンシブ対応用追記 */

*{
    box-sizing:border-box;
}

@media screen and (max-width:415px){



    .header-list{
        display:none;
    }

    .header-logo1,.header-logo{
        display:none;
    }

    .menu-icon {
       display:block;
      }

    .fab,.fas{
        float:left;
    }

    .sp_menu{
        display:block;
        width:100%;
        margin: 10px auto 10px;
        position:fixed;
    }

    .sp_menu p{
        margin:0 0 0 5%;
        float:left;
        color:black;
    }

    .sp_menu-1{
        /* background-color: mediumvioletred;     */
    }

    .sp_menu-2{
        background-color:;
        border:solid 1px black;
        margin:0 2%;
    }


    .sp_menu-1,.sp_menu-2,.sp_menu-3 {
        width:22%;
        float:left;
        border:solid 2px black;
        font-size:20px;
        padding:1%;
        border-radius:5px;
        line-height:100%;
        background-color:white;
        /* displayをnoneに指定してください */
        /* display:none; */
      }

    



    .top-wrapper{

        width:100%;
        margin:0 auto;
    }

    .container{
        margin:0 auto;
        width:90%;
    }

    .container-gazo-top{
        display:none;
    }


    .container-gazo-topwaku{
        padding-top: 35px;
    }
    

    .container-gazo-top_SP{
        display:block;
        width:100%;
    }


    .container-gazo-main{
        display:none;
        }
    
    .container-gazo-main_sp{
        display:block;
        width:100%;
    }



    .examples-flex{
        flex-direction:column;
    }

    .examples{
        width:100%;
        margin:0 auto;
     }

     .examples p{
       margin-top:0;
       margin-bottom:30px;  
     }




     .mercari-icon, .creema-icon{
         width:100%;

     }

     .creema-icon{
         margin:20px 0;
     }


     
     .photos{
         flex-direction:column;
         margin-bottom: 0;
         padding-bottom: 0;
     }
     
     .photo1,.photo2,.photo3{
        width:100%;
        margin:10px 0;
    }

    .photo3{
        margin-bottom:20px;
    }



    .footer-name p{
        margin:0;
    }

    /* spサイト用の改行指示 */
    .main-h1,.example-h1,.links-h1{
     
        padding:40px 0;
     
    }

    .br-sp{
        display:block;
    }
 
}




@media screen and (min-width:416px) and (max-width:1024px) {

    .top-wrapper{
        width:100%;
    }

    .container-gazo-top_tb,.container-gazo-main_tb{
        display:block;
    }

    .container-gazo-top,.container-gazo-main{
        display:none;
    }
}