/*  以下　レスポンシブ対応用追記 */

*{
    box-sizing:border-box;
}

@media (max-width:415px){

    .header-list{
        display:none;
    }

    .header-logo1,.header-logo{
        display:none;
    }

    .menu-icon {
       display:block;    
      }

    .top-wrapper{

        width:100%;
        margin:0 auto;
    }

    .container{
        margin:0 auto;
        width:90%;
    }

    .container-gazo-top{
        display:none;
    }

    .container-gazo-top_SP{
        display:block;
    }


    .container-gazo-main{
        display:none;
        }
    
    .container-gazo-main_sp{
        display:block;
        width:100%;
    }



    .examples-flex{
        flex-direction:column;
    }

    .examples{
        width:100%;
        margin:0 auto;
     }




     .mercari-icon, .creema-icon{
         width:100%;

     }

     .creema-icon{
         margin:20px 0;
     }


     
     .photos{
         flex-direction:column;

     }
     
     .photo1,.photo2,.photo3{
        width:100%;
        margin:10px 0;
    }
     


}