body{
    font-family:"Hiragino Karu Gothic ProN" ,sans-serif;
}

.header{
    float:left;
    margin-left:50px;
    position:fixed;
}

.menu-icon {
    color: black;
    font-size: 25px;
    padding: 10px 20px;
    background-color:pink;
    /* displayをnoneに指定してください */
    display:none;    
  }


.header-logo1{
    width:100px;
}

.header-logo{
    margin:0px 0px 50px 0px;
    font-weight:bold;
}

.header li{
    /* list-style:none; */
    margin:20px 20px 10px 20px;
    font-size:16px;
    color:black;
    font-weight:bold;
}

.header-logo,.header li,.insta-link{
    text-shadow: 1px 1px 0 white,
    -1px 1px 0  white,
    1px -1px 0  white,
    -1px -1px 0  white;
}

.header ul{
    padding:0px;
}

.header-list a{
    text-decoration:none;
}

.fab{
    float:left;
}

.insta-link p{
    padding-left:55px;
    padding-top:9px;
    color:black;
    font-weight:bold;
}

.insta-link{
    margin-top:30px;

}

.sp_menu{
    display:none;
}

.container{
    text-align:center;
    /* margin:0 200px; */
    /* max-width:2000px; */
    /* border:solid 1px black; */
}

.top-wrapper{
    width:100%;
    /* height:950px; */
    margin:0 auto;
}

.container-gazo-topwaku{
    margin:0 auto;
}

#float-icon{
    width:20%;
    position:fixed;
    bottom:35px;
    right:-500px;
}

.main-wrapper{
/* background-image:url(images/main-wrapper.png); */
    background-size:cover;
    /* background-color: pink; */
}

.main-h1-2{
    margin-top: 0px;
    margin-bottom:50px;
}

.main-gazo-top{
    width:100%;
}
.main-gazo-top_sp{
    display:none;
}


.container-gazo-mainwaku{
    width:90%;
    margin:-100px auto 0;
    display:block;
    }

.container-gazo-top{
    width:100%;
}

.container-gazo-top_SP,.container-gazo-main_sp{
    display:none;
}

.container-gazo-top_tb,.container-gazo-main_tb{
    display:none;
}


.container-gazo-main{
    width:100%;
}


.example-wrapper{
    background:-moz-linear-gradient(top,#FFF0F5,white) ;
    background:-webkit-liner-gradient(top,#FFF0F5,white) ;
    background: linear-gradient(to bottom,#FFF0F5,white) ;
}

.example-h1{
    margin:0;
}

.examples-flex{
    display:flex;
    justify-content:center;
    padding:30px 0;
}

.examples{
    width:28%;
}

.example-1{
    width:70%;
    cursor:pointer;
    border-radius:8%;
}

.example-1:hover{
    transform:scale(1.1);
    transition-duration:0.3s;
    
}

.jissyou-wrapper{
    background-color:whitesmoke;
}

.jissyou-gazo{
    width:100%;
}

.jissyou-gazo_sp{
    display:none;
}

.syoumei-wrapper{
    background-color:whitesmoke;
}

.syoumei-gazo{
    width:80%;
    margin:20px 0;
}

.syoumei-gazo_sp{
    display:none;
}

.closing-wrapper{
    background-color:#FFF0F5;

}

.closing-gazo{
    width:80%;
}

.closing-gazo_sp{
    display:none;
}

.tsuishin-wrapper{
    /* background-image:url("images/haikei1.jpg"); */
}

.tsuishin-gazo{
    width:80%;
}

.tsuishin-gazo_sp{
    display:none;
}


.links-wrapper{
    background-color: whitesmoke;
}


.sales-board{
    width:70%;
    /* border:solid 1px black; */
    text-align:center;
    margin:0 auto;
}


.photos{
    display:flex;
    margin:0 auto 10px;
    padding-bottom: 10px;
}

.photo1,.photo2,.photo3{
    flex:auto;
    width:25%;
    height:25%;
    margin:0 5px;
}


.price-word p{
    margin:0 auto;
}

.price-word h1{
    margin-bottom:0;
}


.price-word span{
    /* color:red; */
}






.shop-icon-waku{
    /* border:solid 1px black; */
    width:70%;
    height:100px;
    margin: 0 auto;
    }

.mercari-icon{
    width:271px;
    /* height:81px; */
    float:left;
}

.creema-icon{
    width:340px;
    /* height:80px; */
    float:right;
 }

.mercari-icon,.creema-icon{
    border:solid 2px lightpink;
    border-radius:10px;
    box-shadow:4px 4px lightpink;
}

.mercari-icon:active,.creema-icon:active{
    box-shadow:none;
    position:relative;
    top:4px;
    left:4px;

}


.main-h1,.example-h1,.links-h1{
    margin:0;
    padding:40px;
    color:black;
    font-size:34px;
}

/* spサイトの改行指示の無効化 */
.br-sp{
    display:none;
}


.insta-banner{
    width:60%;
}


.footer-name{
    background-color:black;
    color:white;
    text-align:center;
    line-height:30px; 
    height:30px;
}

.footer-name p{
    margin:0;
}






